.navList {
    list-style-type: none;
    margin: auto;
    width: 100%;
    padding: 25px;
    text-align: center;
    background-color: firebrick;
    top: 0;
}

li {
    color: white;
    display: inline;
    padding: 50px;
}

.title {
    text-align: left;
}
