.navList {
    list-style-type: none;
    margin: auto;
    width: 100%;
    padding: 25px;
    text-align: center;
    background-color: firebrick;
    overflow: hidden;
}

li {
    color: white;
    display: inline;
    padding: 50px;
}